body{
    font-family: sans-serif;
    text-align:center;
    background-color: #a1b3ae;
    min-width: 1200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

ul span {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

p #enjoy2{
    color: red;
}

footer
{
    font-weight: bold;
    position: fixed;
    height: 60px;
    font-family: sans-serif;
    text-color : #78779e;
    /*top: 950px;*/
    left: 0px;
    bottom: 200px;
    text-align: center;
    width: 100%;
}
h2
{
    font-family: sans-serif;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px #e6e6e6;
    font-size: 25px;

}

h2 span
{
    background: #88b39b;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

h2:before
{
    background: #ffe6ee;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    top: 50%;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
h2:before
{
    left: 0;
}
* {
    box-sizing: border-box;
}
h1 #m{
    color: #ffb32d;
}

.star {
    height: 40px;
    width: 40px;
}