body{
    /*font-family: sans-serif;*/
    font-family: "Arial",Helvetica;
    font-weight: bold;
    text-align:center;
    /*background-color: #a1b3ae;*/
    min-width: 1200px;
    background-image: url("pictures/nyc-background.jpg");
    background-image: linear-gradient(to bottom, rgba(99, 79, 97, 0.6) 0%, rgba(99, 79, 97, 0.6) 100%), url("pictures/nyc-background.jpg");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

ul span {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

p #enjoy2{
    color: red;
}

footer
{
    font-weight: bold;
    position: relative;
    height: 60px;
    font-family: sans-serif;
    text-color : #78779e;
    /*top: 950px;*/
    left: 0px;
    bottom: 50%;
    text-align: center;
    width: 100%;
}
h2
{
    font-family: "Arial";
    position: relative;
    text-align: center;
    /*font-weight: bold;*/
    text-shadow: 3px 2px #000000;
    font-size: 35px;
    -webkit-text-stroke-color: #b3d2fd;
    -webkit-text-stroke-width: 1px;
    color: #ffffff;

}

h2 span
{
    /*background: #88b39b;*/
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

h2:before
{
    background: #c5e3ff;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    top: 50%;
    width: 60%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
h2:before
{
    left: 20%;
}
* {
    box-sizing: border-box;
}
h1 #m{
    color: #ffb32d;
}

.star {
    height: 50px;
    width: 50px;
    float: left;
    padding-right: 5px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
#descName{
    display: table-cell;
    vertical-align: middle;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

/*photo gallery*/
div.gallery {
    margin: 5px;
    border: 1px solid #cccccc;
    float: left;
    width: 250px;
    height: 285px;
    padding-bottom: 85px;
}

div.gallery:hover {
    border: 1px solid #535e6b;
}

div.gallery img {
    width: 100%;
    height: 100%;
}

div.desc {

    padding: 5px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    background: #ffffff;
    opacity: 0.6;
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.formContainer{
    background: #a5a1d67a;
    border-radius: 5px;
    margin: 0 auto;
    width: 60%;
    padding: 10px;
}

.subtitle {
    margin: 0 0 2em 0;
}
.fancy {
    line-height: 0.5;
    text-align: center;
}
.fancy span {
    display: inline-block;
    position: relative;
    font-size: 35px;
    font-family: "Arial";
    position: relative;
    text-align: center;
    /*font-weight: bold;*/
    text-shadow: 3px 2px #000000;
    -webkit-text-stroke-color: #b3d2fd;
    -webkit-text-stroke-width: 1px;
    color: #ffffff;
    padding-top: 25px;
}
.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    top: 30px;
    width: 600px;
}
.fancy span:before {
    right: 120%;
    margin-right:40px;
}
.fancy span:after {
    left: 120%;
    margin-left: 40px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.column {
    float: left;
    width: 50%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}