<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="indexstyle.css">
    <link rel="stylesheet" type="text/html" href="homestyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
            integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
            crossorigin=""></script>
    <meta charset="UTF-8">
    <title>NYC-website</title>

</head>
<body ng-app="citiesApp">
<div ng-controller="indexController as indexCtrl">
<ul >
    <li><a class="active" href="#/">Home</a></li>
    <li><a href="#/about">About</a></li>
    <li><a href="#/poi">POI</a></li>
    <li ng-show="!indexCtrl.isLoggedIn()"><a href="#/register">Register</a></li>
    <li ng-show="!indexCtrl.isLoggedIn()"><a href="#/login">Login</a></li>
    <li ng-show="indexCtrl.isLoggedIn()"><a href="#/favorites">favorites({{indexCtrl.getFavoritesCount()}})</a></li>
    <li ng-show="indexCtrl.isLoggedIn()" ng-click="indexCtrl.logout()"><a href="#/">Logout</a></li>
    <span>Hello {{indexCtrl.isLoggedIn() &&  indexCtrl.getUser().userName || 'Guest' }}</span>
</ul>
<div ng-view>
    <!--Contains random popular sites above-->
</div>

<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <p class="poiHeader"><span>{{indexCtrl.poi[0].siteName}}</span></p><br>
            <span class="views">Views: {{indexCtrl.poiViews}}</span>
        </div>
        <div class="modal-body">
            <h3>A little bit about the site...</h3>
            <p>Category: {{indexCtrl.poiCategoryName}}</p>
            <p>{{indexCtrl.poi[0].detail}}</p>
            <div class="row">
                <div class="column">
                    <img class="img1Modal" ng-src="{{indexCtrl.poiUrls[0].url}}" alt="{{poi[0].siteName}}+1">
                </div>
                <div class="column">
                    <img class="img2Modal" ng-src="{{indexCtrl.poiUrls[1].url}}" alt="{{poi[0].siteName}}+2">
                </div>
            </div>
            <p>This site's rank is: {{indexCtrl.poi[0].rank}}</p>
            <h4> Reviews:</h4>
            <table class="table_review">
                <tr class="tr_review">
                    <td class="td_review">User name</td>
                    <td class="td_review">Review</td>
                    <td class="td_review">Date added</td>
                </tr>
                <tr class="tr_review" ng-repeat="x in indexCtrl.reviews | orderBy: x.date | limitTo:2">
                    <td class="td_review">{{x.userName}}</td>
                    <td class="td_review">{{x.review}}</td>
                    <td class="td_review">{{x.date}}</td>
                </tr>
            </table>

            <div id="loggedInUserModal" ng-show="indexCtrl.isLoggedIn()">
                <input type="button" value="Rank or review this site" ng-click="indexCtrl.openRankModal(0,false)">
                <img ng-src="{{indexCtrl.poi[0].favoritImgUrl}}" ng-click="indexCtrl.toggleImage(indexCtrl.poi[0])" class="star" alt="star">
            </div>
            <br>
            <br>
            <div id="location">
                <label>Location:</label>
                <br>
                <div id="mapid" style="height: 180px; width: 240px;"></div>
            </div>
        </div>
        <div class="modal-footer">
            <h3></h3>
        </div>
    </div>

</div>
<div id="rankModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <p class="poiHeader"><span>Review the site:</span></p><br>
        </div>
        <div class="modal-body">
            <h3>Add a review here:</h3>
            <textarea type="text"  name="reviewText" id="reviewText" placeholder="Enter your review here..." rows="10" cols="70" ng-model="indexCtrl.reviewText"></textarea>
            <h3>Rank:</h3>
            <form name="myForm" id="myForm" class="rating" >
                <label>
                    <input type="radio" name="stars" value="1" ng-click="indexCtrl.rankedStar=1"/>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="stars" value="2" ng-click="indexCtrl.rankedStar=2"/>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="stars" value="3" ng-click="indexCtrl.rankedStar=3"/>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="stars" value="4" ng-click="indexCtrl.rankedStar=4"/>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="stars" value="5" ng-click="indexCtrl.rankedStar=5"/>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
            </form>
        </div>
        <div class="modal-footer">
            <input style="color: #111111" type="submit" value="Submit" ng-click="indexCtrl.submitRanking(indexCtrl.reviewText)">
        </div>
    </div>

</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="app.js"></script>
<script src="components/home/homeController.js" ></script>
<script src="components/login/loginController.js" ></script>
<script src="components/register/registerController.js" ></script>
<script src="components/services/services.js"></script>
<script src="components/poi/poicontroller.js"></script>
<script src="components/favorites/favoritesController.js"></script>
<script src="indexController.js" ></script>
<script src="xml2json.js"></script>
</body>
</html>