body{
    /*font-family: sans-serif;*/
    font-family: "Arial",Helvetica;
    font-weight: bold;
    text-align:center;
    /*background-color: #a1b3ae;*/
    min-width: 1200px;
    background-image: url("pictures/nyc-background.jpg");
    background-image: linear-gradient(to bottom, rgba(99, 79, 97, 0.6) 0%, rgba(99, 79, 97, 0.6) 100%), url("pictures/nyc-background.jpg");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

ul span {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

p #enjoy2{
    color: red;
}

footer
{
    font-weight: bold;
    position: relative;
    height: 60px;
    font-family: sans-serif;
    text-color : #78779e;
    /*top: 950px;*/
    left: 0px;
    bottom: 50%;
    text-align: center;
    width: 100%;
}
h2
{
    font-family: "Arial";
    position: relative;
    text-align: center;
    /*font-weight: bold;*/
    text-shadow: 3px 2px #000000;
    font-size: 35px;
    -webkit-text-stroke-color: #b3d2fd;
    -webkit-text-stroke-width: 1px;
    color: #ffffff;

}

h2 span
{
    /*background: #88b39b;*/
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

h2:before
{
    background: #c5e3ff;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    top: 50%;
    width: 60%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
h2:before
{
    left: 20%;
}
* {
    box-sizing: border-box;
}
h1 #m{
    color: #ffb32d;
}

#star {
    height: 50px;
    width: 50px;
    float: left;
    padding-right: 5px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
#descName{
    display: table-cell;
    vertical-align: middle;
}

/*photo gallery*/
div.gallery {
    margin: 5px;
    border: 1px solid #cccccc;
    float: left;
    width: 250px;
    height: 200px;
}

div.gallery:hover {
    border: 1px solid #535e6b;
}

div.gallery img {
    width: 100%;
    height: 100%;
}

div.desc {

    padding: 5px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    background: #ffffff;
    opacity: 0.6;
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}