<h2> Login here:</h2>
<form name="loginForm" ng-submit="loginCtrl.login()" novalidate>
    <p>
        <label>User Name: </label>
        <input type="text" name="username" ng-model="loginCtrl.user.userName" required ng-minlength="3"/>
        <span class="error" ng-show="registerForm.uname.$error.minlength">Enter a valid user name over 3 characters</span>
        <span class="error" ng-show="registerForm.uname.$error.required">This is a required field</span>
    </p>
    <p>
        <label>Password: </label>
        <input type="password" name="password" ng-model="loginCtrl.user.password" required ng-minlength="5"/>
        <span class="error" ng-show="registerForm.password.$error.required">This is a required field</span>
        <span class="error" ng-show="registerForm.uname.$error.minlength">Enter a valid password over 5 characters</span>
    </p>
    <p>
        <input type = "submit" value = "Login" ng-disabled="registerForm.$invalid"/>
        <input type = "reset" value = "Clear" />
    </p>
    <p>
        <a href="#/forgotpassword">Forgot my password</a>
    </p>
</form>