
<div ng-hide="loginCtrl.recovery">
    <p class="subtitle fancy"><span>Login here:</span></p>
    <div class="formContainer">

<form name="loginForm"  ng-submit="loginCtrl.login()" novalidate>
    <p>
        <label>User Name: </label>
        <input type="text" name="username" ng-model="loginCtrl.user.userName" required ng-minlength="3"/>
        <span class="error" ng-show="loginForm.username.$dirty && loginForm.username.$error.minlength">Enter a valid user name over 3 characters</span>
        <span class="error" ng-show="loginForm.username.$dirty && loginForm.username.$error.required">This is a required field</span>
    </p>
    <p>
        <label>Password: </label>
        <input type="password" name="password" ng-model="loginCtrl.user.password" required ng-minlength="5"/>
        <span class="error" ng-show="loginForm.password.$dirty && loginForm.password.$error.required">This is a required field</span>
        <span class="error" ng-show="loginForm.password.$error.minlength">Enter a valid password over 5 characters</span>
    </p>
    <p>
        <input type = "submit" value = "Login" ng-disabled="loginForm.$invalid"/>
        <input type = "reset" value = "Clear" />
    </p>
    <p>
        <button type ="button" ng-click="loginCtrl.showrecoveryquestion()">Forgot my password </button>
    </p>
</form>
</div>
</div>

<div ng-show="loginCtrl.recovery">
    <p class="subtitle fancy"><span> Get your password by answering the following question:</span></p>
    <div class="formContainer">
    <form name="recoveryForm"  ng-submit="loginCtrl.recoverpassword()" novalidate>
        <p>
            <label>User Name: </label>
            <input type="text" name="username" ng-model="loginCtrl.user.userName" required ng-minlength="3"/>
            <span class="error" ng-show="recoveryForm.username.$error.required">This is a required field</span>
            <span class="error" ng-show="recoveryForm.username.$dirty && recoveryForm.username.$error.minlength">Enter a valid user name over 3 characters</span>
        </p>
        <p>
            <label>Question:{{loginCtrl.user.question}} </label><br>
            <label>Recovery answer: </label>
            <input type="text" name="answer" ng-model="loginCtrl.user.answer" required/>
            <span class="error" ng-show="recoveryForm.answer.$dirty && recoveryForm.answer.$error.required">This is a required field</span>
        </p>
        <p>
            <input type = "submit" value = "Get password" ng-disabled="recoveryForm.$invalid"/>
            <input type = "reset" value = "Clear" />
        </p>
        <p>
            <label ng-click="loginCtrl.showrecoveryquestion()"><a href="">Go back to log in </a></label>
        </p>
    </form>
</div>
</div>

<dialog id="user_alert">
            <h1>Please enter a valid user name or <a href="#/register"> register!</a></h1>
        <button ng-click="loginCtrl.close()">Close</button>
</dialog>