
<p class="subtitle fancy"><span>Register here:</span></p>
<div class="formContainer">
<form name="registerForm" ng-submit="regCtrl.register(registerForm.$valid)" novalidate>
    <p>
        <label>First Name: </label>
        <input type="text" name="fname" ng-model="regCtrl.user.firstName" required/>
        <!--<span class="error" ng-show="registerForm.fname.$error.minlength">more then 4</span>-->
        <span class="error" ng-show="registerForm.fname.$dirty && registerForm.fname.$error.required">This is a required field</span>
    </p>
    <p>
        <label>Last Name: </label>
        <input type="text" name="lname" ng-model="regCtrl.user.lastName" required/>
        <span class="error" ng-show="registerForm.lname.$dirty && registerForm.lname.$error.required">This is a required field</span>
    </p>
    <p>
        <label>City: </label>
        <input type="text" name="city" ng-model="regCtrl.user.city" required/>
        <span class="error" ng-show="registerForm.city.$dirty && registerForm.city.$error.required">This is a required field</span>
    </p>
    <p>
        <label>Country: </label>
        <select ng-model="regCtrl.user.country" ng-options="country for country in regCtrl.countries" > </select>
        <!--add drop down list variables from xml-->
    </p>
    <p>
        <label>Email:    </label>
        <input type = "email" name="email" placeholder = "name@domain.com" ng-model="regCtrl.user.email" required/>
        <span class="error" ng-show="registerForm.email.$dirty && registerForm.email.$error.required">This is a required field</span>
        <span class="error" ng-show="registerForm.email.$dirty && registerForm.input.$error.email">Not valid email!</span>
    </p>
    <p>
        <label>Choose a question: </label>
        <select name="question" ng-model="regCtrl.user.verificationQuestions" ng-options="question.name for question in regCtrl.questions" required> </select>
        <span class="error" ng-show="registerForm.question.$dirty && registerForm.question.$error.required">This is a required field</span>
        <!--add drop down list with the questions-->
    </p>
    <p>
        <label>Write your answer for the question {{regCtrl.question}}: </label>
        <input type="text" name="answer" ng-model="regCtrl.user.verificationAnswers" required />
        <span class="error" ng-show="registerForm.answer.$dirty &&registerForm.answer.$error.required">This is a required field</span>

    </p>
    <p>
        <label>Choose at least 2 categories you like: </label><br>
        <label ng-repeat="category in regCtrl.categories">
            <input type="checkbox" checklist-model="regCtrl.categories" checklist-value="category.id"  value="{{category.id}}" ng-required="value.length!=0" ng-click="regCtrl.updateChoise(category.id)"> {{category.name}}<br>
        </label>
        <!--https://vitalets.github.io/checklist-model/-->
    </p>
    <p>
        <input type = "submit" value = "Submit" ng-disabled="registerForm.$invalid || regCtrl.checked_categories_count < 2"/>
        <input type = "reset" value = "Clear" />
    </p>
</form>
</div>

<dialog id="user_details">
    <div class="modal">
        <div class="modal-body">
            <p class="subtitle fancy"><span>Your details for login:</span></p>
            <p>
                User name {{regCtrl.user.userName}}
            </p>
            <p>
                Password: {{regCtrl.user.password}}
            </p>
            <p> Please save these in a safe place and remember them</p>
            <p id="enjoy"> Enjoy your stay !</p>
            <button ng-click="regCtrl.close()">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</dialog>