

<h2 class="line"><span>Your favorites sites</span></h2>
<form action="">
    <select ng-options="category for (category, id) in favoritesCtrl.categories" ng-model="selectedCategory">
    </select>
    <select ng-model="selectedOrder">
        <option value="undefined">position</option>
        <option value="rank">rank</option>
        <option value="category">category</option>
        <option value="views">views</option>
    </select>
</form>
<button type="button" ng-click="favoritesCtrl.saveFavorites()">Save favorites</button>
<table>
    <tr ng-repeat="site in favoritesCtrl.favorites |orderBy : selectedOrder | filter:{category: selectedCategory }">
        <td>
            <div class="gallery">
                    <img ng-src="{{site.image}}" alt="{{site.name}}" ng-click="favoritesCtrl.showPoiModalFunc(site.name)">
                <div class="desc"><p>
                    <img ng-src="{{site.favoritImgUrl}}" ng-click="favoritesCtrl.removeSite(site, $index)" class="star" alt="star">
                    <span ng-bind="site.name" ng-click="favoritesCtrl.showPoiModalFunc(site.name)">  </span>
                    <input type="button" value="Rank or review this site" ng-click="indexCtrl.openRankModal(site.id,true)">
                </p></div>
            </div>
        </td>
       <td>
           <button type="button" ng-click="favoritesCtrl.swapUp($index)">up</button>
           <button type="button" ng-click="favoritesCtrl.swapDown($index)">down</button>
       </td>
    </tr>
</table>