<!--<p ng-repeat="(id , city) in homeCtrl.cities">-->
<!--City name:  <span ng-bind="city.name"></span> <br>-->
<!--City state: <span ng-bind="city.state"></span>-->
<!--<br> <img ng-style="{'height': '100px'}"" ng-src="{{city.image}}">-->

<!--</p>-->
<h1>Welcome to our site about</h1>
<h3>New York City - NYU</h3>

<div ng-switch="homeCtrl.isLoggedIn()">
    <div ng-switch-when="false">
        <p> To see more details we advice you register or login to our site.</p>
        <p>
            <a href="#/register">Register here</a>
        </p>
        <p>
            <a href="#/login">Login here</a>
        </p>
    </div>
    <div ng-switch-default>
        <p class="subtitle fancy"><span>Your last saved sites</span></p>
        <table border="0" width="80%" align="center">
            <tr>
                <td ng-repeat="site in homeCtrl.favorits | limitTo: 2" align="center">
                    <table border="0">
                        <tr>
                            <td align="center">
                                <div class="gallery">
                                    <img ng-src="{{site.image}}" alt="{{site.name}}"
                                         ng-click="homeCtrl.showPoiModalFunc(site.name)">
                                    <div class="desc"><p>
                                        <img ng-src="{{site.favoritImgUrl}}" ng-click="homeCtrl.toggleImage(site)"
                                             class="star" alt="star">
                                        <span ng-bind="site.name"
                                              ng-click="homeCtrl.showPoiModalFunc(site.name)"></span>
                                    </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>


<footer class="explore" ng-switch="homeCtrl.isLoggedIn()">
    <div ng-switch-when="false">
        <p class="subtitle fancy"><span>Explore these popular sites:</span></p>
        <table border="0" width="80%" align="center">
            <tr>
                <td ng-repeat="(id , site) in homeCtrl.sites" align="center">
                    <table border="0">
                        <tr>
                            <!--<td align="center" ng-switch-when="true">-->
                            <!--<div class="gallery" >-->
                            <!--<img ng-src="{{site.image}}" alt="{{site.name}}" ng-click="homeCtrl.showPoiModalFunc(site.name)">-->
                            <!--<div class="desc"><p>-->
                            <!--<img ng-src="{{site.favoritImgUrl}}" ng-click="homeCtrl.toggleImage(site)" class="star" alt="star">-->
                            <!--<span id="descName" ng-bind="site.name" ng-click="homeCtrl.showPoiModalFunc(site.name)"></span>-->
                            <!--</p>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</td>-->
                            <td align="center">
                                <div class="gallery">
                                    <img ng-src="{{site.image}}" alt="{{site.name}}"
                                         ng-click="homeCtrl.showPoiModalFunc(site.name)">
                                    <div class="desc"><span ng-bind="site.name"
                                                            ng-click="homeCtrl.showPoiModalFunc(site.name)"></span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <!--ng-style="{'height': '100px'}"-->
        </table>
    </div>
    <div ng-switch-default>
        <p class="subtitle fancy"><span>Recommended for you: </span></p>
        <table border="0" width="80%" align="center">
            <tr>
                <td ng-repeat="(id , site) in homeCtrl.sitesForUserCategories" align="center">
                    <h2 ><span>{{homeCtrl.userCategories[id]}}</span></h2>
                    <table border="0">
                        <tr>
                            <td align="center">
                                <div class="gallery">
                                    <img ng-src="{{site.image}}" alt="{{site.name}}"
                                         ng-click="homeCtrl.showPoiModalFunc(site.name)">
                                    <div class="desc"><p>
                                        <img ng-src="{{site.favoritImgUrl}}" ng-click="homeCtrl.toggleImage(site)"
                                             class="star" alt="star">
                                        <span id="descName" ng-bind="site.name"
                                              ng-click="homeCtrl.showPoiModalFunc(site.name)"></span>
                                    </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <!--ng-style="{'height': '100px'}"-->
        </table>
    </div>
</footer>

