<!--<p ng-repeat="(id , city) in homeCtrl.cities">-->
    <!--City name:  <span ng-bind="city.name"></span> <br>-->
    <!--City state: <span ng-bind="city.state"></span>-->
    <!--<br> <img ng-style="{'height': '100px'}"" ng-src="{{city.image}}">-->

<!--</p>-->
<h1> Welcome to our site about :</h1>
<h3>New York City - NYU</h3>
<p> To see more details we adviced you register or login to our site.</p>
<p>
    <a href="#/register">Register here</a>
</p>
<p>
    <a href="#/login">Login here</a>
</p>
<bottom>
<table border="0" width="100%" align="center">
    <tr >
        <td ng-repeat="(id , city) in homeCtrl.cities">
            <table border="0">
                <tr><td><img ng-style="{'height': '100px'}" ng-src="{{city.image}}" alt="No image"></td></tr>
                <tr></tr>
                <tr >
                    <td>
                        <p>
                            <span ng-bind="city.name"></span> <br>
                            <br>
                        </p>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>
</bottom>