<!--<p ng-repeat="(id , city) in homeCtrl.cities">-->
<!--City name:  <span ng-bind="city.name"></span> <br>-->
<!--City state: <span ng-bind="city.state"></span>-->
<!--<br> <img ng-style="{'height': '100px'}"" ng-src="{{city.image}}">-->

<!--</p>-->
<h1> Welcome to our site about</h1>
<h3>New York City - NYU</h3>

<div ng-switch="homeCtrl.isLoggedIn()">
    <div ng-switch-when="false">
        <p> To see more details we advice you register or login to our site.</p>
        <p>
            <a href="#/register">Register here</a>
        </p>
        <p>
            <a href="#/login">Login here</a>
        </p>
    </div>
    <div ng-switch-default>
        <h2 class="line"><span>Your last saved sites</span></h2>
        <table border="0" width="80%" align="center">
            <tr>
                <td ng-repeat="site in homeCtrl.favorits | limitTo: 2" align="center">
                    <table border="0">
                        <tr>
                            <td align="center">
                                <div class="gallery" >
                                    <img ng-src="{{site.image}}" alt="{{site.name}}" ng-click="homeCtrl.showPoiModalFunc(site.name)">
                                    <div class="desc"><p>
                                        <img ng-src="{{site.favoritImgUrl}}" ng-click="homeCtrl.toggleImage(site)" class="star" alt="star">
                                        <span ng-bind="site.name" ng-click="homeCtrl.showPoiModalFunc(site.name)"></span>
                                    </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>



<footer class="explore">
    <p class="subtitle fancy"><span>Explore these popular sites:</span></p>
    <table border="0" width="80%" align="center">
        <tr>
            <td ng-repeat="(id , site) in homeCtrl.sites" align="center">
                <table border="0">
                    <tr ng-switch="homeCtrl.isLoggedIn()">
                        <td align="center" ng-switch-when="true">
                            <div class="gallery" >
                                    <img ng-src="{{site.image}}" alt="{{site.name}}" ng-click="homeCtrl.showPoiModalFunc(site.name)">
                                <div class="desc"><p>
                                    <img ng-src="{{site.favoritImgUrl}}" ng-click="homeCtrl.toggleImage(site)" class="star" alt="star">
                                    <span id="descName" ng-bind="site.name" ng-click="homeCtrl.showPoiModalFunc(site.name)"></span>
                                </p>
                                </div>
                            </div>
                        </td>
                        <td align="center" ng-switch-default>
                            <div class="gallery" >
                                    <img  ng-src="{{site.image}}" alt="{{site.name}}" ng-click="homeCtrl.showPoiModalFunc(site.name)">
                                <div class="desc"><span ng-bind="site.name" ng-click="homeCtrl.showPoiModalFunc(site.name)"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <!--ng-style="{'height': '100px'}"-->
    </table>
</footer>

<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <p class="subtitle fancy"><span>{{homeCtrl.poi[0].siteName}}</span></p>
        </div>
        <div class="modal-body">
            <h3>A little bit about the site...</h3>
            <p>Category: {{homeCtrl.poiCategoryName}}</p>
            <p>{{homeCtrl.poi[0].detail}}</p>
            <div class="row">
            <div class="column">
            <img class="img1Modal" ng-src="{{homeCtrl.poiUrls[0].url}}" alt="{{poi[0].siteName}}+1">
            </div>
            <div class="column">
            <img class="img2Modal" ng-src="{{homeCtrl.poiUrls[1].url}}" alt="{{poi[0].siteName}}+2">
            </div>
                </div>
            <p>This site's rank is: {{homeCtrl.poi[0].rank}}</p>
            <h4> Reviews:</h4>
            <table class="table_review">
                <tr class="tr_review">
                    <td class="td_review">User name</td>
                    <td class="td_review">Review</td>
                    <td class="td_review">Date added</td>
                </tr>
                <tr class="tr_review" ng-repeat="x in homeCtrl.reviews">
                    <td class="td_review">{{x.userName}}</td>
                    <td class="td_review">{{x.review}}</td>
                    <td class="td_review">{{x.date}}</td>
                </tr>
            </table>

            <div id="loggedInUserModal" ng-show="homeCtrl.isLoggedIn()">
                <input type="button" value="Rank or review this site" ng-click="homeCtrl.openRankModal()">
            </div>
        </div>
        <div class="modal-footer">
            <h3>footer</h3>
        </div>
    </div>

</div>
<div id="rankModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <p class="subtitle fancy"><span>Review the site:</span></p>
        </div>
        <div class="modal-body">
            <h3>Add a review here:</h3>
            <textarea type="text"  name="reviewText" id="reviewText" placeholder="Enter your review here..." rows="10" cols="70" ng-model="homeCtrl.reviewText"></textarea>
            <h3>Rank:</h3>
            <form class="rating">
                <label>
                    <input type="radio" name="stars" value="1" ng-click="homeCtrl.rankedStar=1"/>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="stars" value="2" ng-click="homeCtrl.rankedStar=2"/>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="stars" value="3" ng-click="homeCtrl.rankedStar=3"/>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="stars" value="4" ng-click="homeCtrl.rankedStar=4"/>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="stars" value="5" ng-click="homeCtrl.rankedStar=5"/>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
            </form>
        </div>
        <div class="modal-footer">
            <input type="button" value="Submit" ng-click="homeCtrl.submitRanking(homeCtrl.reviewText)">
        </div>
    </div>

</div>
