
<p class="subtitle fancy"><span>Points of interest in NEW YORK:</span></p>

<form action="">
    <input ng-model="searchInput">
    <select ng-options="category for (category, id) in poiCtrl.categories" ng-model="selectedCategory">
    </select>
    <select ng-model="selectedOrder">
        <option value="undefined"></option>
        <option value="rank">rank</option>
        <option value="category">category</option>
        <option value="views">views</option>
    </select>
</form>
<div>
    <div id="pois" class="container" style="padding-left: 100px;">
        <div ng-show="selectedCategory === undefined" class="col-lg-12"
             ng-repeat="(categoryName, id) in poiCtrl.categories " ng-if="id !== undefined">
            <h2 ng-hide="(poiCtrl.sites | filter:{category: id }| filter:{name: searchInput}).length === 0"
                class="col-lg-12"><span ng-bind="categoryName"></span></h2>
            <br>
            <div class="col-lg-3"
                 ng-repeat="site in poiCtrl.sites | orderBy : selectedOrder| filter:{category: id } | filter:{name: searchInput}">
                <div class="gallery" ng-show="poiCtrl.isLoggedIn()">
                        <img ng-src="{{site.image}}" alt="{{site.name}}" ng-click="poiCtrl.showPoiModalFunc(site.name)" >
                    <div class="desc"><p>
                        <img ng-src="{{site.favoritImgUrl}}" ng-click="poiCtrl.toggleImage(site)" class="star"
                             alt="star" width="50" height="50">
                        <span id="descName" ng-bind="site.name" ng-click="poiCtrl.showPoiModalFunc(site.name)"></span>
                    </p>
                    </div>
                </div>
                <div class="gallery" ng-show="!poiCtrl.isLoggedIn()">
                        <img ng-src="{{site.image}}" alt="{{site.name}}" ng-click="poiCtrl.showPoiModalFunc(site.name)">
                    <div class="desc"><span ng-bind="site.name"  ng-click="poiCtrl.showPoiModalFunc(site.name)"></span>
                    </div>
                </div>
            </div>

        </div>
//------------------------------------------------
  //------------------------------------------------------------
        <div>
            <h2 ng-hide="(poiCtrl.sites | filter:{category: selectedCategory }| filter:{name: searchInput}).length === 0"
                class="col-lg-12"><span ng-bind="poiCtrl.getCategoryById(selectedCategory)"></span></h2>
            <div class="col-lg-3" ng-show="selectedCategory !== undefined" class="col-lg-12"
                 ng-repeat="site in poiCtrl.sites |orderBy : selectedOrder | filter:{category: selectedCategory }| filter:{name: searchInput}">

                <div class="gallery" ng-show="poiCtrl.isLoggedIn()">
                        <img ng-src="{{site.image}}" alt="{{site.name}}" ng-click="poiCtrl.showPoiModalFunc(site.name)">
                    <div class="desc"><p>
                        <img ng-src="{{site.favoritImgUrl}}" ng-click="poiCtrl.toggleImage(site)" class="star"
                             alt="star" width="50px" height="50px">
                        <span ng-bind="site.name"  ng-click="poiCtrl.showPoiModalFunc(site.name)"></span>
                    </p></div>
                </div>
                <div class="gallery" ng-show="!poiCtrl.isLoggedIn()">
                        <img ng-src="{{site.image}}" alt="{{site.name}}" ng-click="poiCtrl.toggleImage(site)" >
                    <div class="desc"><span ng-bind="site.name" ng-click="poiCtrl.toggleImage(site)" ></span>
                    </div>
                </div>
            </div>
        </div>
        <p ng-show="(poiCtrl.sites | filter:{category: selectedCategory }| filter:{name: searchInput}).length === 0">
            Nothing here!
        </p>
    </div>
</div>