<h2><span> The points of interest in NEW YORK:</span></h2>
<form action="">
    <input ng-model="searchInput">
    <select ng-options="category for (category, id) in poiCtrl.categories" ng-model="selectedCategory">
    </select>
    </form>
<div>
    <div id="pois" class="container" style="padding-left: 100px;">
        <div class="col-lg-12" ng-repeat="site in poiCtrl.sites | filter:{category: selectedCategory }| filter:{name: searchInput}">
            <div class="gallery" ng-show="poiCtrl.isLoggedIn()">
                <a target="_blank" href="img_5terre.jpg">
                    <img ng-src="{{site.image}}" alt="{{site.name}}">
                </a>
                <div class="desc">
                    <span ng-bind="site.name">  </span>
                    <img ng-src="{{site.favoritImgUrl}}" ng-click="poiCtrl.toggleImage(site)" id="star" alt="star">
                </div>
            </div>
            <div class="gallery" ng-show="!poiCtrl.isLoggedIn()">
                <a target="_blank" href="img_5terre.jpg">
                    <img ng-src="{{site.image}}" alt="{{site.name}}">
                </a>
                <div class="desc"><span ng-bind="site.name"></span>
                </div>
            </div>
        </div>
        <p ng-show="(poiCtrl.sites | filter:{category: selectedCategory }| filter:{name: searchInput}).length === 0">
            Nothing here!
        </p>
    </div>
</div>